@model EndToEnd.Models.Trzoda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trzoda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bialko_ogolne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bialko_ogolne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Energia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Energia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oleje_i_tluszcze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oleje_i_tluszcze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wlokno_surowe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wlokno_surowe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.popiol_surowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.popiol_surowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wapn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wapn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fosfor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fosfor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.magnez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.magnez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lizyna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lizyna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metionina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metionina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.treonina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.treonina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arginina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arginina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_d3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_d3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_e)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_e)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
