@model EndToEnd.Models.Bydlo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bydlo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bialko_ogolne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bialko_ogolne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Energia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Energia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oleje_I_tluszcze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oleje_I_tluszcze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wapn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wapn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fosfor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fosfor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_d3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_d3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.witamina_e)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.witamina_e)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
