@model IEnumerable<EndToEnd.Models.Bydlo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bialko_ogolne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Energia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oleje_I_tluszcze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wapn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fosfor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.witamina_a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.witamina_d3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.witamina_c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.witamina_e)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bialko_ogolne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Energia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oleje_I_tluszcze)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wapn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fosfor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.witamina_a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.witamina_d3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.witamina_c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.witamina_e)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
