@model IEnumerable<EndToEnd.Models.BydloModels>

@{
    ViewBag.Title = "Index";
}

<h2>Pasze dla bydła</h2>


<br />

@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
<p>
        @Html.ActionLink("Dodaj", "Create")
</p>
} 

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Wiek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pasza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producent)
        </th>
        <th>
            @Html.ActionLink("Cena", "Index", new { SortOrder = ViewBag.CenaSortParm })
        </th>
        <th>
            @Html.ActionLink("Białko", "Index", new { SortOrder = ViewBag.BialkoSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Energia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oleje_I_Tluszcze)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wapn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fosfor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sod)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bialko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oleje_I_Tluszcze)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wapn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fosfor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sod)
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edytuj |", "Edit", new { id = item.ID })
                }
                
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
                    
                </button>
               
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                                <h4 class="modal-title" id="myModalLabel">Tytuł okienka pop-up</h4>
                            </div>
                            <div class="modal-body">
                                <p>Zawartość okienka pop-up</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("| Usuń", "Delete", new { id = item.ID })
                }
            </td>

        </tr>
    }

</table>
